/* Work Sans Font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.text_light_gray {
    color: #727272;
}

.btn_primary {
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}

nav>ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner_content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner_title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}


/* Main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams styles */
.team_container {
    display: flex;
    align-items: center;
}

.team_img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team_content {
    padding-left: 70px;
    padding-right: 70px;
}

.team_title {
    font-size: 2.8rem;
}

.team_title .quick_list {
    font-weight: 500;
}

.text_features {
    color: #FF900E;
    font-weight: 700;
}


/* Responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team_container 
    {
        flex-direction: column;
    }

    .team_img_container {
        grid-template-columns: 1fr;
    }
    .team_content {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav, .team_container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
}